* html,* html body {
  background: #fafafa url(/static/images/1x1.png) fixed;
}

#toolbar {
  position: absolute;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop + 20 : document.body.scrollTop + 20 );
  margin-left: -6em;
}

#status_area {
  position: absolute;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop : document.body.scrollTop );
}

#content {
  position: absolute;
  left: 0em;
  top: 0em;
}

#center_and_toolbar_area {
  width: expression( this.width > 500 ? "500px" : "70%" );
}

#center_area {
  width: expression( this.width > 475 ? "475px" : "69%" );
}

.pulldown {
  height: expression( this.scrollHeight > 200 ? "200px" : "auto" );
  width: expression( this.scrollHeight > 200 ? "12em" : "auto" );
}
