* html,* html body {
  background: #fafafa url(/static/images/1x1.png) fixed;
}

#toolbar {
  position: absolute;
  width: expression( eval( document.all.center_area && ( document.all.center_area.offsetLeft - 60 ) || 0 ) );
  text-align: right;
}

#note_tree_area {
  left: 0;
  width: expression( eval( document.all.center_area && ( document.all.center_area.offsetLeft - 60 ) || 0 ) );
  position: absolute;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop + 80 : document.body.scrollTop + 80 );
}

#note_tree_area_holder {
  overflow: auto;
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#status_area {
  position: absolute;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop : document.body.scrollTop );
}

#content {
  position: absolute;
  left: 0em;
  top: 0em;
}

#everything_area {
  width:expression( 
    document.body.clientWidth < ( 1300 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "100%": "80em"
  );
}

#center_area {
  float: right;
  width:expression( 
    document.body.clientWidth < ( 1300 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "56%": "45em"
  );
}

#notebook_header_area {
  width: 100%;
}

.pulldown {
  height: expression( this.scrollHeight > 200 ? "200px" : "auto" );
  width: expression( this.scrollHeight > 200 ? "12em" : "auto" );
}

#toolbar .button_wrapper {
  position: absolute;
}

.link_area_item {
  margin-bottom: 0.25em;
  padding: 0.25em 0.25em 0 0.5em;
}

#this_notebook_area_title {
  margin-top: 1.5em;
}

#clutter_link {
  position: relative;
  top: 1.25em;
  margin-left: 1em;
}
