* html,* html body {
  background: #fafafa url(/static/images/1x1.png) fixed;
}

#toolbar {
  position: absolute;
  float: none;
  width: auto;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop + 20 : document.body.scrollTop + 20 );
  margin-left:expression( 
    document.body.clientWidth < ( 900 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "-4em": "0em"
  );
}

#status_area {
  position: absolute;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop : document.body.scrollTop );
}

#content {
  position: absolute;
  left: 0em;
  top: 0em;
}

#everything_area {
  width:expression( 
    document.body.clientWidth < ( 1300 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "100%": "78em"
  );
}

#toolbar_area {
  width:expression( 
    document.body.clientWidth < ( 1300 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "18%": "15em"
  );
}

#center_area {
  float: right;
  width:expression( 
    document.body.clientWidth < ( 1300 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "60%": "45em"
  );
}

#link_area {
  width:expression( 
    document.body.clientWidth < ( 1300 / 12 ) * 
    parseInt( document.body.currentStyle.fontSize ) ?  "17%": "15em"
  );
  margin-left: 1.5em;
}

.pulldown {
  height: expression( this.scrollHeight > 200 ? "200px" : "auto" );
  width: expression( this.scrollHeight > 200 ? "12em" : "auto" );
}
