* html,* html body {
  background: #fafafa url(/static/images/1x1.png) fixed;
}

#left_area {
  width: auto;
  margin-left: expression( eval( document.all.everything_area && -document.all.everything_area.offsetLeft || 0 ) );
}

#note_tree_area {
  position: absolute;
  width: expression( eval( document.all.everything_area && document.all.everything_area.offsetLeft || 0 ) );
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop + 30 : document.body.scrollTop + 30 );
}

#note_tree_area_holder {
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#right_area {
  width: auto;
  margin-left: auto;
}

#link_area {
  position: absolute;
  width: expression( eval( document.all.everything_area && ( document.all.everything_area.offsetLeft - 60 ) || 0 ) );
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop + 30 : document.body.scrollTop + 30 );
}

#link_area_holder {
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#status_area {
  position: absolute;
  top: expression( eval( document.compatMode && document.compatMode == 'CSS1Compat' ) ? documentElement.scrollTop : document.body.scrollTop );
}

#content {
  position: absolute;
  left: 0em;
  top: 0em;
}

#everything_area {
  width:expression(
    document.body.clientWidth < ( 1300 / 12 ) *
    parseInt( document.body.currentStyle.fontSize ) ?  "60%": "45em"
  );
}

#notebook_header_area {
  width: 100%;
}

.pulldown {
  height: expression( this.scrollHeight > 200 ? "200px" : "auto" );
  width: expression( this.scrollHeight > 200 ? "12em" : "auto" );
}

#toolbar {
  margin-right: 1em;
}

#toolbar .button_wrapper {
  position: absolute;
}

.link_area_item {
  margin-bottom: 0.25em;
  padding: 0.25em 0.25em 0 0.5em;
}

#current_notebook_wrapper {
  margin-right: 1em;
}
