#note_tree_area_holder {
  overflow: auto;
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#link_area_holder {
  overflow: auto;
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#left_area {
  width: auto;
  margin-left: expression( eval( document.all.everything_area && -document.all.everything_area.offsetLeft || 0 ) );
}

#note_tree_area {
  width: auto;
}

#right_area {
  width: auto;
  margin-left: auto;
}
