#note_tree_area_holder {
  overflow: auto;
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#link_area_holder {
  overflow: auto;
  height: expression( eval( documentElement.offsetHeight - 100 ) );
}

#left_area {
  width: auto;
}

#right_area {
  width: auto;
}

#clutter_link {
  top: 1.25em;
  margin-left: 1em;
}
