body {
  padding: 1em;
  line-height: 140%;
  font-family: sans-serif;
}

a[target ^= "_new"] {
  background: url(/static/images/web_icon_tiny.png) right center no-repeat;
  padding-right: 13px;
}

.diff a[target ^= "_new"] {
  background-image: none;
  padding-right: 0;
}

a:hover {
  color: #ff6600;
}

h3 {
  margin-bottom: 1em;
}

ins {
  color: green;
  text-decoration: none;
}

ins a {
  color: green;
}

del {
  color: red;
  text-decoration: line-through;
}

del a {
  color: red;
}

hr {
  border: 0;
  color: #000000;
  background-color: #000000;
  height: 1px;
}

.button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ffcc66;
}

.revoke_button {
  margin-left: 0.5em;
  font-size: 90%;
}

.admin_button {
  margin-left: 0.5em;
  font-size: 90%;
}

.text_field {
  margin-top: 0.25em;
  padding: 0.25em;
  border: #999999 1px solid;
}

.textarea_field {
  margin-top: 0.25em;
  padding: 0.25em;
  border: #999999 1px solid;
  overflow: auto;
}

ul {
  list-style-type: disc;
}

ul li {
  margin-top: 0.5em;
}

ol li {
  margin-top: 0.5em;
}

.center_text {
  text-align: center;
}

.small_text {
  padding-top: 0.5em;
  font-size: 90%;
}

.radio_label {
  color: #000000;
}

.radio_label:hover {
  color: #ff6600;
  cursor: pointer;
}

.invite {
  margin-left: 1em;
}

#access_table td {
  padding-right: 1em;
}

.thumbnail_left {
  float: left;
  margin: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #999999;
}

.thumbnail_right {
  float: right;
  margin: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #999999;
}

.search_results_summary {
  font-size: 82%;
}

.invite_status {
  font-size: 82%;
}

.user_status {
  font-size: 82%;
}
