#new_note_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/new_note_button.png);
}

#link_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/link_button.png);
}

#attach_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/attach_button.png);
}

#bold_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bold_button.png);
}

#italic_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/italic_button.png);
}

#underline_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/underline_button.png);
}

#title_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/title_button.png);
}

#bullet_list_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bullet_list_button.png);
}

#numbered_list_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/numbered_list_button.png);
}

body {
  padding: 1em;
  line-height: 140%;
  font-family: sans-serif;
}

a:hover {
  color: #ff6600;
}

h3 {
  margin-bottom: 1em;
}

.button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ffcc66;
}

.revoke_button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 90%;
  outline: none;
  cursor: pointer;
}

.revoke_button:hover {
  background-color: #ffcc66;
}

.text_field {
  margin-top: 0.25em;
  padding: 0.25em;
  border: #999999 1px solid;
}

.textarea_field {
  margin-top: 0.25em;
  padding: 0.25em;
  border: #999999 1px solid;
  overflow: auto;
}

ul {
  list-style-type: disc;
}

ul li {
  margin-top: 0.5em;
}

ol li {
  margin-top: 0.5em;
}

.center_text {
  text-align: center;
}

.small_text {
  padding-top: 0.5em;
  font-size: 90%;
}

.radio_label {
  color: #000000;
}

.radio_label:hover {
  color: #ff6600;
  cursor: pointer;
}

.invite {
  margin-left: 1em;
}

#access_table td {
  padding-right: 1em;
}

#upgrade_table_area {
  text-align: center;
}

#upgrade_login_text {
  font-weight: bold;
  text-align: center;
}

#upgrade_table {
  border-collapse: collapse;
  border: 1px solid #999999;
  margin-left: auto;
  margin-right: auto;
}

#upgrade_table th {
  padding: 0.5em;
}

#upgrade_table td {
  text-align: center;
  background-color: #fafafa;
  padding: 0.5em;
}

#upgrade_table .plan_name {
  width: 16%;
  text-align: center;
  background-color: #d0e0f0;
}

#upgrade_table .feature_name {
  width: 36%;
  text-align: left;
  background-color: #fafafa;
}

#upgrade_table_small {
  border-collapse: collapse;
  border: 1px solid #999999;
  margin-left: auto;
  margin-right: auto;
}

#upgrade_table_small th {
  padding: 0.5em;
}

#upgrade_table_small td {
  text-align: center;
  background-color: #fafafa;
  padding: 0.5em;
}

#upgrade_table_small .plan_name {
  width: 33%;
  text-align: center;
  background-color: #d0e0f0;
}

.price_text {
  color: #ff6600;
}

.month_text {
  padding-top: 0.5em;
  font-size: 75%;
}

.subscribe_form {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.thumbnail_left {
  float: left;
  border-width: 0;
  margin: 1em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.thumbnail_right {
  float: right;
  border-width: 0;
  margin: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
}
