#new_note_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/new_note_button.png);
}

#link_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/link_button.png);
}

#attach_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/attach_button.png);
}

#bold_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bold_button.png);
}

#italic_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/italic_button.png);
}

#underline_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/underline_button.png);
}

#title_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/title_button.png);
}

#bullet_list_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bullet_list_button.png);
}

#numbered_list_button_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/numbered_list_button.png);
}

.header {
  background-image: url(/static/images/header.png);
  background-repeat: repeat-x;
  height: 60px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #999999;
}

.luminotes_title {
  float: left;
}

.header_links {
  text-align: right;
  font-size: 85%;
  padding-top: 5px;
}

.header_user_links {
  text-align: right;
  font-size: 85%;
  padding-top: 10px;
}

.hook_area {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.wide_center_area {
  width: 840px;
  height: 100%;
  margin: 0 auto;
}

.center_area {
  width: 30em;
  height: 100%;
  margin: 0 auto;
}

.explanation {
  width: 400px;
  min-height: 310px;
  text-align: center;
  margin-right: 20px;
}

.hook_bullet_list {
  list-style-type: none;
}

.hook_action_area {
  background-color: #ffff99;
  font-weight: bold;
  padding: 1em;
}

.hook_action {
  font-size: 105%;
}

.hook_action_question {
}

.hook_action_or {
  font-size: 85%;
}

.front_screenshot {
  float: right;
  text-align: center;
  margin-left: 20px;
  border: 1px solid #999999;
}

.heading {
  padding: 0.5em;
  margin-top: 1em;
  text-align: center;
}

.bold_link {
  font-weight: bold;
}

.what_is_luminotes_area {
  width: 400px;
  margin-bottom: 1em;
}

.what_is_luminotes_text {
  text-align: left;
}

.thumbnail {
  border: 1px solid #999999;
}

.thumbnail_caption {
  font-size: 75%;
  font-weight: bold;
  margin-top: 0.5em;
}

.thumbnail_caption_detail {
  font-size: 75%;
  margin-top: 0.25em;
}

.thumbnail_cell {
  text-align: center;
  padding: 0.75em 0.5em 0.25em 0.5em;
  width: 175px;
}

.thumbnail_area {
  background-color: #fffece;
  padding-bottom: 0.5em;
}

.quotes_area {
  float: right;
  width: 400px;
  margin-left: 20px;
}

.quote {
  text-align: left; 
  margin-bottom: 2em;
}

.quote_title {
  font-size: 120%;
  margin-bottom: 0em;
}

.quote_text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.quote_signature {
  font-size: 85%;
  font-style: italic;
  margin-top: 0em;
  color: #444444;
}

.footer {
  background-color: #b0d0ff;
  height: 2em;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid #999999;
}

.footer_links {
  font-size: 85%;
  padding-top: 0.5em;
}

.tour_area {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  margin: 0 auto;
}

.tour_screenshot {
  margin: 1.5em 1em 0.25em 1em;
  border: 1px solid #999999;
}

.tour_text {
  text-align: left;
  font-weight: bold;
  width: 500px;
  margin: 0 auto;
}

.tour_list {
  margin-top: 0em;
}

.tour_screenshot_wrapper {
  padding: 1em;
}
