html, body {
  margin: 0em;
  background-color: #fafafa;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: #0000ff;
}

a:hover {
  color: #ff6600;
}

ul li {
  margin-top: 0.5em;
}

ol li {
  margin-top: 0.5em;
}

img {
  border-width: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#everything_area {
  text-align: center;
  width: 45em;
  max-width: 60%;
  margin: 0 auto;
}

#left_area {
  position: relative;
  float: left;
  width: 20em;
  max-width: 33%; /* 33% of 60% (everything_area's max-width) = about 20% */
  margin-left: -33%;
}

#toolbar {
  text-align: right;
  z-index: 1;
  margin-right: 0.5em;
}

#toolbar .button_wrapper {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

#toolbar .image_button {
  background: transparent url(/static/images/toolbar/buttons.png);
  height: 40px;
  width: 40px;
  padding: 0px;
  border-style: none;
  outline: none;
  position: relative;
  vertical-align: middle;
}

#toolbar .image_button_small {
  background: transparent url(/static/images/toolbar/small/buttons.png);
}

#toolbar .button_background {
  background: transparent url(/static/themes/default/images/toolbar/buttons.png);
  background-position: 40px 0;
  height: 40px;
  width: 40px;
  padding: 0px;
  border-style: none;
  margin-bottom: 0.25em;
}

#toolbar .button_background_small {
  background: transparent url(/static/themes/default/images/toolbar/small/buttons.png);
}

#toolbar .newNote_large {
  background-position: 200px 0;
}

#toolbar .newNote_small {
  background-position: 100px -2px;
}

#toolbar .createLink_large {
  background-position: 240px 0;
}

#toolbar .createLink_small {
  background-position: 120px -2px;
}

#toolbar .attachFile_large {
  background-position: 0 0;
}

#toolbar .attachFile_small {
  background-position: 0 -2px;
}

#toolbar .bold_large {
  background-position: 440px 0;
}

#toolbar .bold_small {
  background-position: 220px -2px;
}

#toolbar .italic_large {
  background-position: 280px 0;
}

#toolbar .italic_small {
  background-position: 140px -2px;
}

#toolbar .underline_large {
  background-position: 40px 0;
}

#toolbar .underline_small {
  background-position: 20px -2px;
}

#toolbar .strikethrough_large {
  background-position: 120px 0;
}

#toolbar .strikethrough_small {
  background-position: 60px -2px;
}

#toolbar .font_large {
  background-position: 360px 0;
}

#toolbar .font_small {
  background-position: 180px -2px;
}

#toolbar .title_large {
  background-position: 80px 0;
}

#toolbar .title_small {
  background-position: 40px -2px;
}

#toolbar .insertUnorderedList_large {
  background-position: 400px 0;
}

#toolbar .insertUnorderedList_small {
  background-position: 200px -2px;
}

#toolbar .insertOrderedList_large {
  background-position: 160px 0;
}

#toolbar .insertOrderedList_small {
  background-position: 80px -2px;
}

#buttons_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/toolbar/buttons.png);
}

#theme_default_buttons_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/themes/default/images/toolbar/buttons.png);
}

#tree_arrow_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tree_arrow_hover.png);
}

#tree_arrow_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tree_arrow_down.png);
}

#tree_arrow_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tree_arrow_down_hover.png);
}

#grabber_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/grabber_hover.png);
}

#tick_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tick.png);
}

#note_tree_area {
  position: fixed;
  width: 20em;
  max-width: 20%;
  text-align: left;
  line-height: 140%;
  top: 80px;
  bottom: 1em;
  padding-left: 0.5em;
}

#note_tree_area_holder {
  max-height: 100%;
  overflow: auto;
  margin-left: 1em;
  margin-right: 1em;
}

#note_tree_root_table {
  margin-bottom: 1em;
  font-size: 72%;
}

#recent_notes_table {
  font-size: 72%;
}

#recent_notes_spacer {
  height: 0.5em;
}

.note_tree_table {
  border-collapse: collapse;
}

#note_tree_area_title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#recent_notes_area_title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.note_tree_link {
  background: url(/static/images/note_icon.png) left top no-repeat;
  padding-left: 19px;
}

.note_tree_external_link {
  background: url(/static/images/web_icon.png) left top no-repeat;
  padding-left: 19px;
}

.note_tree_file_link {
  background: url(/static/images/file_icon.png) left top no-repeat;
  padding-left: 19px;
}

.recent_note_link {
  background: url(/static/images/note_icon.png) left top no-repeat;
  padding-left: 19px;
}

.note_tree_loading {
  background: url(/static/images/loading.gif) left top no-repeat;
  padding-left: 20px;
}

#right_area {
  position: relative;
  float: left;
  width: 20em;
  max-width: 33%; /* 33% of 60% (everything_area's max-width) = about 20% */
  margin-left: 100%;
}

#link_area {
  position: fixed;
  text-align: left;
  line-height: 140%;
  top: 80px;
  bottom: 1em;
  width: 15em;
  max-width: 20%;
}

#link_area_holder {
  max-height: 100%;
  overflow: auto;
  margin-left: 0.5em;
}

#this_notebook_area_title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#notebooks_area_title {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

#center_area {
  margin: 0 auto;
  text-align: center;
  width: 45em;
  max-width: 60%;
}

#center_content_area {
  position: relative;
  float: left;
  text-align: center;
  width: 100%;
}

#status_area {
  position: fixed;
  left: 0.25em;
  top: 0.25em;
  padding: 1em;
  z-index: 1;
}

#search_form {
  margin-top: 0;
  margin-bottom: 0;
}

#search_text {
  padding: 0.25em;
  border: #999999 1px solid;
  width: 95%;
}

#clutter_link {
  position: relative;
  margin-left: 1em;
}

#notebook_header_area {
  padding: 0.2em;
  margin-top: 1.5em;
  width: 100%;
}

#notebook_header_name:hover {
  color: #ff6600;
}

#notebook_header_links {
  position: absolute;
  top: 1.7em;
  right: 1em;
}

#rename_form {
  margin: 0;
}

#notebook_border {
  padding: 0 0 0 0.4em;
}

#notebook_background {
  padding: 0.25em 0.5em 0 1em;
}

#deleted_notebooks {
  text-align: left;
  margin: 1em;
  line-height: 140%;
}

#deleted_notebooks div {
  margin-left: 0.75em;
}

#deleted_notebooks span {
  margin: 0.25em;
}

#notes {
  text-align: left;
  margin: 0em;
}

#notes h3 {
}

#notes {
  text-align: left;
  margin-top: 1em;
}

#blank_note_stub {
  -moz-border-radius: 5px;
  text-align: left;
  padding: 0.5em;
  background-color: #fafafa;
}

.blank_note_stub_hidden_border {
  border: 1px solid #fafafa;
}

.blank_note_stub_border {
  border: 1px solid #999999;
}

#notebook_background {
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}

.note_controls {
  text-align: right;
  margin-right: 1.5em;
  min-height: 0.5em;
}

.note_button {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.note_button:hover {
  background-color: #ffcc66;
}

.note_button[disabled]:hover {
  background-color: #d0e0f0;
}

#save_button {
  margin-left: 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#new_notebook_button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#new_note_tree_link_button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.note_frame {
  -moz-border-radius: 5px;
  position: absolute;
  padding: 0em;
  margin: 0em;
  overflow: hidden;
  border: 2px solid #999999;
  margin-bottom: 0.75em;
  background-color: #ffffff;
  overflow-x: auto;
}

.note_holder {
  border-width: 0;
  border-spacing: 0;
  border-style: none;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.note_holder td {
  border-width: 0;
  padding: 0;
  border-style: none;
}

.note_div_dragging {
  max-height: 100px;
}

.note_holder_dragging {
  position: fixed;
  z-index: 2;
}

.note_drag_source_area {
  margin-bottom: 0.75em;
}

.note_drop_target {
  -moz-border-radius: 5px;
  position: relative;
  top: -0.5em;
  border-top: 2px dashed #000000;
  height: 0;
}

.note_drop_target_hover {
  height: 2em;
  border: 2px dashed #000000;
  background-color: #ffcc66;
}

.note_shadow {
  background: url(/static/images/note_shadow.png) left top repeat-x;
  height: 3px;
  filter:alpha(opacity=50);
  opacity: 0.5;
}

.note_shadow_corner {
  background-color: #fafafa;
  height: 3px;
  width: 4px;
}

.note_grabber {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #fafafa;
  background-color: #fafafa;
  min-width: 20px;
  width: 20px;
  max-width: 20px;
}

.note_grabber:hover {
  color: #ffcc66;
  background-color: #ffcc66;
  background: url(/static/images/grabber_hover.png) center top repeat-y;
  cursor: move;
}

.note_grabber_focused {
  color: #d0e0f0;
  background-color: #d0e0f0;
  background: url(/static/images/grabber.png) center top repeat-y;
}

.note_grabber_focused:hover {
  color: #ffcc66;
  background-color: #ffcc66;
  background: url(/static/images/grabber_hover.png) center top repeat-y;
  cursor: move;
}

.static_note_div {
  -moz-border-radius: 5px;
  display: block;
  padding: 0em;
  margin: 0em;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
  border: 2px solid #999999;
  background-color: #ffffff;
  overflow-x: auto;
}

.focused_note_frame {
  border: 2px solid black;
}

.static_note_contents {
  display: block;
  padding: 1.5em 1.5em 1em 1.5em;
  margin: 0em;
  font-size: 90%;
  line-height: 140%;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.static_note_contents form {
  margin-top: 1em;
  margin-bottom: 1em;
}

.static_note_contents h3 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0.75em;
}

.static_note_contents h3:first-child {
  margin-top: 0em;
}

.static_note_contents a[target ^= "_new"] {
  background: url(/static/images/web_icon_tiny.png) right center no-repeat;
  padding-right: 13px;
}

.diff a[target ^= "_new"] {
  background-image: none;
  padding-right: 0;
}

.static_note_contents a:hover {
  color: #ff6600;
}

.static_note_contents ins {
  color: green;
  text-decoration: none;
}

.static_note_contents ins a {
  color: green;
}

.static_note_contents del {
  color: red;
  text-decoration: line-through;
}

.static_note_contents del a {
  color: red;
}

.static_note_contents img {
  border-width: 0;
}

.static_note_contents .left_justified {
  float: left;
  margin: 0.5em 1.5em 0.5em 0;
}

.static_note_contents .center_justified {
  display: block;
  margin: 0.5em auto 0.5em auto;
  text-align: center;
}

.static_note_contents .right_justified {
  float: right;
  margin: 0.5em 0 0.5em 1.5em;
}

.static_note_contents hr {
  border: 0;
  color: #000000;
  background-color: #000000;
  height: 1px;
}

.static_note_contents .button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.static_note_contents .button:hover {
  background-color: #ffcc66;
}

.static_note_contents .revoke_button {
  margin-left: 0.5em;
  font-size: 90%;
}

.static_note_contents .admin_button {
  margin-left: 0.5em;
  font-size: 90%;
}

.static_note_contents .remove_user_button {
  margin-left: 0.5em;
  font-size: 90%;
}

.static_note_contents .text_field {
  margin-top: 0.25em;
  padding: 0.25em;
  border: #999999 1px solid;
}

.static_note_contents .textarea_field {
  margin-top: 0.25em;
  padding: 0.25em;
  border: #999999 1px solid;
  overflow: auto;
}

.static_note_contents ul {
  list-style-type: disc;
}

.static_note_contents ul li {
  margin-top: 0.5em;
}

.static_note_contents ol li {
  margin-top: 0.5em;
}

.center_text {
  text-align: center;
}

.static_note_contents .small_text {
  padding-top: 0.5em;
  font-size: 90%;
}

.static_note_contents .radio_label {
  color: #000000;
}

.static_note_contents .radio_label:hover {
  color: #ff6600;
  cursor: pointer;
}

.static_note_contents .indented {
  margin-left: 1em;
}

.static_note_contents .radio_table td {
  padding-right: 1em;
}

.static_note_contents #import_notebook_table {
  font-size: 72%;
  border-collapse: collapse;
  border: 1px solid #999999;
}

.static_note_contents #import_notebook_table td {
  border: 1px solid #999999;
  padding: 0.5em;
}

.static_note_contents #import_notebook_table .heading_row {
  font-weight: bold;
}

.static_note_contents .thumbnail_left {
  float: left;
  margin: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #999999;
}

.static_note_contents .thumbnail_right {
  float: right;
  margin: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #999999;
}

.static_note_contents .search_results_summary {
  font-size: 82%;
}

.static_note_contents .invite_status {
  font-size: 82%;
}

.static_note_contents .invite_link_area {
  font-size: 82%;
  margin-left: 2em;
}

.static_note_contents .user_status {
  font-size: 82%;
}

.page_title a {
  color: #000000;
  text-decoration: none;
  outline: 0;
}

.page_title {
  margin-top: 0em;
  margin-bottom: 0em;
}

.invisible {
  visibility: hidden;
}

.undisplayed {
  display: none;
}

.pulldown {
  -moz-border-radius: 4px;
  position: absolute;
  font-size: 72%;
  text-align: left;
  max-height: 20em;
  min-width: 10em;
  overflow: auto;
  padding: 0.75em;
  border: 1px solid #000000;
  background-color: #ffff99;
}

.pulldown_link {
  color: #000000;
  text-decoration: none;
}

.pulldown_link:hover {
  color: #ff6600;
  text-decoration: none;
}

.selected_mark {
  vertical-align: top;
}

.suggestion {
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.selected_suggestion {
  background-color: #d0e0f0;
}

.pulldown_label {
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #000000;
  text-decoration: none;
}

.font_label_button {
  font-size: 125%;
  border-style: none;
  border-width: 0px;
  text-align: left;
  background-color: #ffff99;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.pulldown_label:hover {
  color: #ff6600;
  cursor: pointer;
}

.message {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  background-color: #ffcc66;
}

.message_inner {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em;
  line-height: 140%;
  background-color: #ffaa44;
}

.error {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em;
  border: 1px solid #550000;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff3333;
}

.error_inner {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em;
  line-height: 140%;
  color: #ffffff;
  background-color: #dd1111;
}

.message_button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-left: 0.5em;
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.message_button:hover {
  background-color: #ffee88;
}

.status_text {
  padding: 0.25em;
  color: #ffffff;
  border: 1px solid #005500;
  background-color: #11bb11;
}

.error_header {
  text-align: left;
  margin: 2em 2em 1em 2em;
}

.error_box {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

.field_label {
  font-weight: bold;
}

.text_field {
  margin-right: 0.5em;
  padding: 0.25em;
  border: #999999 1px solid;
}

.inline {
  display: inline;
}

.link_area_item {
  font-size: 75%;
  padding: 0.15em 0.25em 0.15em 0.5em;
}

.note_tree_item {
  padding: 0.25em 0.25em 0.25em 0;
}

.recent_note_item {
  padding: 0.25em 0.25em 0.25em 0;
}

#note_tree_area td {
  vertical-align: top;
}

.tree_expander {
  width: 11px;
  height: 1.5em;
  margin-right: 4px;
  background: url(/static/images/tree_arrow.png) no-repeat center center;
  cursor: pointer;
}

.tree_expander:hover {
  background: url(/static/images/tree_arrow_hover.png) no-repeat center center;
}

.tree_expander_expanded {
  width: 11px;
  height: 1em;
  margin-right: 4px;
  background: url(/static/images/tree_arrow_down.png) no-repeat center center;
  cursor: pointer;
}

.tree_expander_expanded:hover {
  background: url(/static/images/tree_arrow_down_hover.png) no-repeat center center;
}

.tree_expander_empty {
  width: 11px;
  height: 1em;
  margin-right: 4px;
}

#storage_usage_area {
  padding-top: 0.1em;
  font-size: 75%;
}

.storage_usage_low {
  color: green;
  font-weight: bold;
  margin-top: 1.5em;
}

.storage_usage_medium {
  color: orange;
  font-weight: bold;
  margin-top: 1.5em;
}

.storage_usage_high {
  color: red;
  font-weight: bold;
  margin-top: 1.5em;
}

.current_notebook_color {
  background-color: #b0d0ff;
}

.current_notebook_tl {
  background: url(/static/images/current_notebook_tl.png) no-repeat top left;
}

.current_notebook_tr {
  background: url(/static/images/current_notebook_tr.png) no-repeat top right;
}

.current_notebook_bl {
  background: url(/static/images/current_notebook_bl.png) no-repeat bottom left;
}

.current_notebook_br {
  background: url(/static/images/current_notebook_br.png) no-repeat bottom right;
}

.current_notebook_inner_color {
  background-color: #fafafa;
}

.current_notebook_inner_tl {
  background: url(/static/images/current_notebook_inner_tl.png) no-repeat top left;
}

#current_notebook_up {
  cursor: pointer;
  padding-top: 1px;
}

#current_notebook_down {
  cursor: pointer;
  padding-top: 1px;
}

.trash_notebook_color {
  background-color: #d0d0d0;
}

.trash_notebook_tl {
  background: url(/static/images/trash_notebook_tl.png) no-repeat top left;
}

.trash_notebook_tr {
  background: url(/static/images/trash_notebook_tr.png) no-repeat top right;
}

.trash_notebook_bl {
  background: url(/static/images/trash_notebook_bl.png) no-repeat bottom left;
}

.trash_notebook_br {
  background: url(/static/images/trash_notebook_br.png) no-repeat bottom right;
}

.trash_notebook_inner_color {
  background-color: #fafafa;
}

.trash_notebook_inner_tl {
  background: url(/static/images/trash_notebook_inner_tl.png) no-repeat top left;
}

.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ffcc66;
}

.small_text {
  font-size: 72%;
  line-height: 140%;
  font-weight: normal;
}

.new_feature_text {
  font-size: 90%;
  font-weight: bold;
  color: #ff6600;
}

.file_thumbnail {
  margin-right: 0.5em;
  vertical-align: top;
  float: left;
  cursor: pointer;
}

.middle_image {
  vertical-align: middle;
  border: 0;
}

.padding_left {
  padding-left: 0.5em;
}

#justify_table td {
  padding-right: 1em;
}

.radio_label {
  color: #000000;
}

.radio_label:hover {
  color: #ff6600;
  cursor: pointer;
}

.hook_action_area {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #ffff99;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.hook_action {
  font-size: 105%;
}

.hook_action_detail {
  font-size: 72%;
  font-weight: normal;
}

.trial_upgrade_link {
  font-weight: bold;
  background-color: #ffcc66;
  padding: 0.5em;
  font-size: 110%;
}

.upload_instructions {
  margin-top: 0.75em;
}

#progress_row {
  margin-top: 0.75em;
}

#progress_border {
  border: 1px solid #000000;
  background-color: #ffffff;
  width: 20em;
  height: 1em;
}

#progress_bar {
  width: 0;
  height: 1em;
}

#progress_percent {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.byline {
  margin-left: 1em;
}
