html, body {
  margin: 0em;
  background-color: #fafafa;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: #0000ff;
}

a:hover {
  color: #ff6600;
}

ul li {
  margin-top: 0.5em;
}

ol li {
  margin-top: 0.5em;
}

img {
  border: 0;
}

#everything_area {
  margin: 0 auto;
  text-align: center;
  max-width: 80em;
}

#left_area {
  float: left;
  width: 17em;
  max-width: 20%;
}

#toolbar {
  text-align: right;
  z-index: 1;
}

#toolbar .button_wrapper {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

#toolbar .image_button {
  outline: none;
}

#toolbar div {
  margin-bottom: 0.25em;
}

#new_note_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/new_note_button_hover.png);
}

#link_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/link_button_hover.png);
}

#attach_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/attach_button_hover.png);
}

#bold_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bold_button_hover.png);
}

#italic_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/italic_button_hover.png);
}

#underline_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/underline_button_hover.png);
}

#title_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/title_button_hover.png);
}

#bullet_list_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bullet_list_button_hover.png);
}

#numbered_list_button_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/numbered_list_button_hover.png);
}

#new_note_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/new_note_button_down_hover.png);
}

#link_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/link_button_down_hover.png);
}

#attach_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/attach_button_down_hover.png);
}

#bold_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bold_button_down_hover.png);
}

#italic_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/italic_button_down_hover.png);
}

#underline_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/underline_button_down_hover.png);
}

#title_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/title_button_down_hover.png);
}

#bullet_list_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bullet_list_button_down_hover.png);
}

#numbered_list_button_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/numbered_list_button_down_hover.png);
}

#new_note_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/new_note_button_down.png);
}

#link_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/link_button_down.png);
}

#attach_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/attach_button_down.png);
}

#bold_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bold_button_down.png);
}

#italic_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/italic_button_down.png);
}

#underline_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/underline_button_down.png);
}

#title_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/title_button_down.png);
}

#bullet_list_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/bullet_list_button_down.png);
}

#numbered_list_button_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/numbered_list_button_down.png);
}

#current_notebook_up_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/arrow_up_hover.png);
}

#current_notebook_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/arrow_down_hover.png);
}

#tree_arrow_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tree_arrow_hover.png);
}

#tree_arrow_down_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tree_arrow_down.png);
}

#tree_arrow_down_hover_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tree_arrow_down_hover.png);
}

#note_tree_area {
  position: fixed;
  width: 17em;
  max-width: 20%;
  text-align: left;
  line-height: 140%;
  top: 80px;
  bottom: 1em;
  padding-left: 0.5em;
}

#note_tree_area_holder {
  max-height: 100%;
  overflow: auto;
  margin-left: 0.5em;
}

#note_tree_root_table {
  margin-bottom: 1em;
  font-size: 75%;
}

#recent_notes_table {
  margin-bottom: 1em;
  font-size: 75%;
}

#recent_notes_spacer {
  height: 0.5em;
}

.note_tree_table {
  border-collapse: collapse;
}

#note_tree_area_title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#recent_notes_area_title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.note_tree_link {
  background: url(/static/images/note_icon.png) left top no-repeat;
  padding-left: 19px;
}

.note_tree_external_link {
  background: url(/static/images/web_icon.png) left top no-repeat;
  padding-left: 19px;
}

.note_tree_file_link {
  background: url(/static/images/file_icon.png) left top no-repeat;
  padding-left: 19px;
}

.recent_note_link {
  background: url(/static/images/note_icon.png) left top no-repeat;
  padding-left: 19px;
}

.note_tree_loading {
  background: url(/static/images/loading.gif) left top no-repeat;
  padding-left: 20px;
}

#link_area {
  float: right;
  text-align: left;
  line-height: 140%;
  width: 20%;
}

#link_area_holder {
  padding-left: 1em;
  padding-right: 1em;
}

#this_notebook_area_title {
  margin-top: 0;
  margin-bottom: 0.25em;
}

#notebooks_area_title {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

#center_area {
  margin: 0 auto;
  text-align: center;
  width: 45em;
  max-width: 60%;
}

#status_area {
  position: fixed;
  left: 0.25em;
  top: 0.25em;
  padding: 1em;
  z-index: 1;
}

#search_form {
  margin-top: 0;
  margin-bottom: 0;
}

#search_text {
  padding: 0.25em;
  border: #999999 1px solid;
  width: 100%;
}

#notebook_header_area {
  padding: 0.2em;
  margin-top: 1.5em;
  width: 45em;
}

#notebook_header_name:hover {
  color: #ff6600;
}

#rename_form {
  margin: 0;
}

#notebook_border {
  padding: 0 0 0 0.4em;
}

#notebook_background {
  padding: 0.25em 0.5em 0 1em;
}

#deleted_notebooks {
  text-align: left;
  margin: 1em;
  line-height: 140%;
}

#deleted_notebooks div {
  margin-left: 0.75em;
}

#deleted_notebooks span {
  margin: 0.25em;
}

#static_notes {
  text-align: left;
  margin: 1em;
  line-height: 140%;
}

#static_notes h3 {
  margin-bottom: 0.5em;
}

#notes {
  text-align: left;
  margin-top: 1em;
}

#blank_note_stub {
  text-align: left;
  padding: 0.5em;
  background-color: #fafafa;
}

.blank_note_stub_hidden_border {
  border: 1px solid #fafafa;
}

.blank_note_stub_border {
  border: 1px solid #999999;
}

#notebook_background {
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}

.note_controls {
  float: right;
  margin-right: 1.5em;
}

.note_button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.note_button:hover {
  background-color: #ffcc66;
}

.note_frame {
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  height: 0em;
  width: 100%;
  border: 1px solid #999999;
  margin-bottom: 0.75em;
  background-color: #ffffff;
}

.focused_note_frame {
  border: 2px solid black;
}

.page_title a {
  color: #000000;
  text-decoration: none;
  outline: 0;
}

.page_title {
  margin-top: 0em;
  margin-bottom: 0em;
}

.invisible {
  visibility: hidden;
}

.undisplayed {
  display: none;
}

.pulldown {
  position: absolute;
  text-align: left;
  max-height: 20em;
  overflow: auto;
  padding: 0.5em;
  border: 1px solid #000000;
  background-color: #ffff99;
}

.pulldown_link {
  color: #000000;
  text-decoration: none;
}

.pulldown_link:hover {
  color: #ff6600;
  text-decoration: none;
}

.pulldown_label {
  color: #000000;
}

.pulldown_label:hover {
  color: #ff6600;
  cursor: pointer;
}

.message {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  background-color: #ffcc66;
}

.message_inner {
  padding: 0.5em;
  line-height: 140%;
  background-color: #ffaa44;
}

.error {
  padding: 0.5em;
  border: 1px solid #550000;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff3333;
}

.error_inner {
  padding: 0.5em;
  line-height: 140%;
  color: #ffffff;
  background-color: #dd1111;
}

.message_button {
  margin-left: 0.5em;
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.message_button:hover {
  background-color: #ffee88;
}

.status_text {
  padding: 0.25em;
  color: #ffffff;
  border: 1px solid #005500;
  background-color: #11bb11;
}

.error_header {
  text-align: left;
  margin: 2em 2em 1em 2em;
}

.error_box {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

.field_label {
  font-weight: bold;
}

.text_field {
  margin-right: 0.5em;
  padding: 0.25em;
  border: #999999 1px solid;
}

.link_area_item {
  padding: 0.25em 0.25em 0.25em 0.5em;
}

.note_tree_item {
  padding: 0.25em 0.25em 0.25em 0;
}

.recent_note_item {
  padding: 0.25em 0.25em 0.25em 0;
}

#note_tree_area td {
  vertical-align: top;
}

.tree_expander {
  width: 11px;
  height: 1.5em;
  margin-right: 4px;
  background: url(/static/images/tree_arrow.png) no-repeat center center;
  cursor: pointer;
}

.tree_expander:hover {
  background: url(/static/images/tree_arrow_hover.png) no-repeat center center;
}

.tree_expander_expanded {
  width: 11px;
  height: 1em;
  margin-right: 4px;
  background: url(/static/images/tree_arrow_down.png) no-repeat center center;
  cursor: pointer;
}

.tree_expander_expanded:hover {
  background: url(/static/images/tree_arrow_down_hover.png) no-repeat center center;
}

.tree_expander_empty {
  width: 11px;
  height: 1em;
  margin-right: 4px;
}

#storage_usage_area {
  padding-top: 0.1em;
}

.storage_usage_low {
  color: green;
  font-weight: bold;
  margin-top: 1.5em;
}

.storage_usage_medium {
  color: orange;
  font-weight: bold;
  margin-top: 1.5em;
}

.storage_usage_high {
  color: red;
  font-weight: bold;
  margin-top: 1.5em;
}

.current_notebook_color {
  background-color: #b0d0ff;
}

.current_notebook_tl {
  background: url(/static/images/current_notebook_tl.png) no-repeat top left;
}

.current_notebook_tr {
  background: url(/static/images/current_notebook_tr.png) no-repeat top right;
}

.current_notebook_bl {
  background: url(/static/images/current_notebook_bl.png) no-repeat bottom left;
}

.current_notebook_br {
  background: url(/static/images/current_notebook_br.png) no-repeat bottom right;
}

.current_notebook_inner_color {
  background-color: #fafafa;
}

.current_notebook_inner_tl {
  background: url(/static/images/current_notebook_inner_tl.png) no-repeat top left;
}

#current_notebook_up {
  cursor: pointer;
  padding-top: 1px;
}

#current_notebook_down {
  cursor: pointer;
  padding-top: 1px;
}

.trash_notebook_color {
  background-color: #d0d0d0;
}

.trash_notebook_tl {
  background: url(/static/images/trash_notebook_tl.png) no-repeat top left;
}

.trash_notebook_tr {
  background: url(/static/images/trash_notebook_tr.png) no-repeat top right;
}

.trash_notebook_bl {
  background: url(/static/images/trash_notebook_bl.png) no-repeat bottom left;
}

.trash_notebook_br {
  background: url(/static/images/trash_notebook_br.png) no-repeat bottom right;
}

.trash_notebook_inner_color {
  background-color: #fafafa;
}

.trash_notebook_inner_tl {
  background: url(/static/images/trash_notebook_inner_tl.png) no-repeat top left;
}

.button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ffcc66;
}

.small_text {
  font-size: 90%;
  line-height: 140%;
  font-weight: normal;
}

.new_feature_text {
  font-size: 90%;
  font-weight: bold;
  color: #ff6600;
}

.upload_frame {
  padding: 0;
  margin: 0;
  width: 40em;
  height: 4em;
}

.file_thumbnail {
  margin-right: 0.5em;
  vertical-align: top;
  float: left;
  cursor: pointer;
}

.rss_image {
  vertical-align: middle;
  border: 0;
}
