html, body {
  margin: 0em;
  background-color: #fafafa;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: #0000ff;
}

a:hover {
  color: #ff6600;
}

noscript {
  text-align: left;
}

noscript h3 {
  margin-bottom: 0.5em;
}

ul li {
  margin-top: 0.5em;
}

ol li {
  margin-top: 0.5em;
}

#everything_area {
  margin: 0 auto;
  text-align: center;
  width: 78em;
  max-width: 100%;
}

#toolbar_area {
  float: left;
  width: 15em;
  max-width: 18%;
}

#toolbar {
  width: 15em;
  max-width: 18%;
  position: fixed;
  text-align: right;
  margin-top: 5em;
  z-index: 1;
}

#toolbar .button_wrapper {
  float: right;
}

#toolbar .button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  height: 2em;
  width: 2em;
  font-size: 125%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  outline: none;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#toolbar div {
  margin-bottom: 0.25em;
}

#toolbar .button:hover {
  background-color: #ffcc66;
}

#toolbar .button_down {
  border-style: inset;
  border-width: 2px;
  background-color: #c0d0e0;
}

#toolbar .button_down:hover {
  background-color: #ffbb55;
}

.toolbar_link_button {
  font-size: 60%;
}

.toolbar_list_text {
  font-size: 50%;
  line-height: 90%;
}

#createLink {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

#bold {
  font-weight: bold;
}

#italic {
  font-style: italic;
}

#underline {
  text-decoration: underline;
}

#title {
  font-weight: bold;
}

#link_area {
  float: right;
  text-align: left;
  margin-top: 1em;
  margin-right: 1em;
  line-height: 100%;
  width: 15em;
  max-width: 17%;
}

#link_area h4 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

#center_area {
  margin: 0 auto;
  text-align: center;
  width: 45em;
  max-width: 60%;
}

#status_area {
  position: fixed;
  padding: 1em;
  z-index: 1;
}

#title_area {
  text-align: left;
  padding-top: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
}

#search_and_user_area {
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#search_area {
  margin-top: 0.5em;
}

#search_form {
  margin-bottom: 0em;
}

#search_text {
  padding: 0.25em;
  border: #999999 1px solid;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#user_area {
  text-align: right;
  margin-bottom: 1em;
}

#user_area a {
  font-weight: bold;
}

#notebook_header_area {
  -moz-border-radius: 0.5em 0.5em 0.5em 0;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0;
}

#notebook_border {
  padding: 0 0 0 0.3em;
  -moz-border-radius: 0 0 0 1px;
  -webkit-border-radius: 0 0 0 1px;
}

#notebook_background {
  padding: 0.25em 0.5em 0 1em;
  background-color: #fafafa;
  -moz-border-radius: 0.5em 0 0 0;
  -webkit-border-radius: 0.5em 0 0 0;
}

#notes {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.note_controls {
  float: right;
  margin-right: 1.5em;
}

.note_button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

.note_button:hover {
  background-color: #ffcc66;
}

.note_frame {
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  height: 0em;
  width: 100%;
  border: 1px solid #999999;
  margin-bottom: 0.75em;
  background-color: #ffffff;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.focused_note_frame {
  border: 2px solid black;
}

.page_title a {
  color: #000000;
  text-decoration: none;
  outline: 0;
}

.page_title {
  margin-top: 0em;
  margin-bottom: 0em;
}

.invisible {
  visibility: hidden;
}

.undisplayed {
  display: none;
}

.pulldown {
  position: absolute;
  text-align: left;
  max-height: 20em;
  overflow: auto;
  padding: 0.5em;
  border: 1px solid #000000;
  background: #ffff99;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

.pulldown_link {
  color: #000000;
  text-decoration: none;
}

.pulldown_link:hover {
  color: #ff6600;
  text-decoration: none;
}

.message {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  background-color: #ffcc66;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.message_inner {
  padding: 0.5em;
  line-height: 140%;
  background-color: #ffaa44;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.error {
  padding: 0.5em;
  border: 1px solid #550000;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff3333;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.error_inner {
  padding: 0.5em;
  line-height: 140%;
  color: #ffffff;
  background-color: #dd1111;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.message_button {
  margin-left: 0.5em;
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

.message_button:hover {
  background-color: #ffee88;
}

.status_text {
  padding: 0.25em;
  color: #ffffff;
  border: 1px solid #005500;
  background-color: #11bb11;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.error_box {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

.field_label {
  font-weight: bold;
}

.text_field {
  margin-right: 0.5em;
  padding: 0.25em;
  border: #999999 1px solid;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.link_area_item {
  margin-top: 0.25em;
  padding: 0.25em 0.25em 0.25em 0.5em;
}

.storage_usage_area {
}

.storage_usage_low {
  color: green;
  font-weight: bold;
  margin-top: 1.5em;
}

.storage_usage_medium {
  color: orange;
  font-weight: bold;
  margin-top: 1.5em;
}

.storage_usage_high {
  color: red;
  font-weight: bold;
  margin-top: 1.5em;
}

.current_notebook_name {
  background-color: #b0d0ff;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.current_trash_notebook_name {
  background-color: #d0d0d0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
