html, body {
  padding: 0;
  margin: 0;
  line-height: 140%;
  font-family: sans-serif;
  background-color: #ffff99;
}

form {
  margin-bottom: 0.5em;
}

div {
  margin-bottom: 0.5em;
}

.field_label {
  font-weight: bold;
}

.button {
  border-style: outset;
  border-width: 0px;
  background-color: #d0e0f0;
  font-size: 100%;
  outline: none;
  cursor: pointer;
  margin-left: 0.25em;
}

.button:hover {
  background-color: #ffcc66;
}

#progress_border {
  border: 1px solid #000000;
  background-color: #ffffff;
  width: 20em;
  height: 1em;
}

td {
  vertical-align: top;
}

#tick_preload {
  height: 0;
  overflow: hidden;
  background-image: url(/static/images/tick.png);
}
